---
import Layout from '../layouts/Layout.astro';
import Profile from "../components/Profile.astro";
import Card from '../components/Card.astro';
---

<Layout title="Hello, World!">
	<main class="flex flex-col md:flex-row">
		<div class="">
			<Profile></Profile>
		</div>
	</main>
</Layout>
