---
interface Props {
    title: string;
    location: string;
    date: string;
}

const { title, location, date } = Astro.props;
---

<div class="card work-card">
    <div class="work-card--header">
        <div class="work-card--title">{title}</div>
        <div class="work-card--location">{location}</div>
        <div class="work-card--date">{date}</div>
    </div>
    <div class="work-card--details">
        <ul>
            <slot></slot>
        </ul>
    </div>
</div>

<style>
    .work-card {
        @apply md:min-w-[450px] min-w-[100%];
    }

    .work-card--header {
        @apply mb-[40px];
    }

    .work-card--title {
        @apply font-black text-3xl text-indigo-500 primary:text-indigo-500 secondary:text-mantis-500 tertiary:text-lavender-500;
    }
    .work-card--location {
        @apply font-bold text-lg text-indigo-700 primary:text-indigo-700 secondary:text-mantis-700 tertiary:text-lavender-700;
    }

    .work-card--date {
        @apply text-xs text-indigo-800 primary:text-indigo-800 secondary:text-mantis-800 tertiary:text-lavender-800;
    }

    .work-card--details {
        @apply text-sm;
    }

    :global(.work-card--details ul>li) {
        @apply mb-5;
	}
</style>