---
interface Props {
    title: string;
    tags: string;
    date?: string;
    link?: string;
}

const { title, tags, date } = Astro.props;
---

<div class="card project-card">
    <div class="project-card--header">
        <div class="project-card--title">{title}</div>
        <div class="project-card--tags">{tags}</div>
        { date ? <div class="project-card--date">{date}</div> : null }
    </div>
    <div class="project-card--details">
        <ul>
            <slot></slot>
        </ul>
    </div>
</div>