---
interface Props {
    title: string;
    location: string;
    date: string;
}

const { title, location, date } = Astro.props;
---

<div class="work-card">
    <div class="work-card--header">
        <div class="work-card--title">{title}</div>
        <div class="work-card--location">{location}</div>
        <div class="work-card--date">{date}</div>
    </div>
    <div class="work-card--details">
        <ul>
            <slot></slot>
        </ul>
    </div>
</div>