---
interface Props {
    title: string;
    location: string;
    date: string;
}

const { title, location, date } = Astro.props;
---

<div class="card work-card">
    <div class="work-card--header">
        <div class="work-card--title">{title}</div>
        <div class="work-card--location">{location}</div>
        <div class="work-card--date">{date}</div>
    </div>
    <div class="work-card--details">
        <ul>
            <slot></slot>
        </ul>
    </div>
</div>

<style>
    .work-card {
        @apply min-w-[450px];
    }

    .work-card--header {
        @apply mb-[40px];
    }

    .work-card--title {
        @apply font-bold text-3xl mb-[10px];
    }
    .work-card--location {
        @apply font-bold text-lg;
    }

    .work-card--date {
        @apply text-xs;
    }

    .work-card--details {
        @apply text-sm;
    }

    :global(.work-card--details ul>li) {
        @apply mb-5;
	}
</style>