---
interface Props {
    jdenticon: string;
}

const { jdenticon } = Astro.props;
---

<div class="atropos h-full">
    <div class="atropos-scale">
        <div class="atropos-rotate">
            <div class="atropos-inner">
                <div class="profile card md:w-[25vw] flex flex-col">
                    <div class="profile-header flex flex-col items-center">
                        <div>
                            <div class="profile-picture border-[3px] border-zinc-800 overflow-hidden max-w-[200px] p-[20px] rounded-[200px] flex justify-center items-center">
                                <svg id="jdenticon" data-jdenticon-value={jdenticon} width="100%" height="100%">
                                    jdenticon:{jdenticon}
                                </svg>
                            </div>
                        </div>
                        <div class="profile-header--content flex flex-col items-center">
                            <div class="profile-name text-2xl font-black md:mt-[20px]" data-atropos-offset="3">Kevin Waite</div>
                            <div class="profile-tag text-sm font-bold rounded-[50px] bg-zinc-800 px-[20px] py-[10px] mt-[10px]" data-atropos-offset="7">Software Engineer</div>
                        </div>
                    </div>
                    <div class="profile-body flex flex-col grow-[1]">
                        <div class="hr border-[1px] border-zinc-800 my-[20px]"></div>
                        <div class="profile-contact">
                            <div class="contact-line">
                                <div class="icon icon--email">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 256 256"><path fill="currentColor" d="M136 128a8 8 0 1 1-8-8a8 8 0 0 1 8 8m-52-8a8 8 0 1 0 8 8a8 8 0 0 0-8-8m88 0a8 8 0 1 0 8 8a8 8 0 0 0-8-8m56-56v128a12 12 0 0 1-12 12H81.49l-33.73 29.13A11.9 11.9 0 0 1 40 236a12.2 12.2 0 0 1-5.1-1.14A11.89 11.89 0 0 1 28 224V64a12 12 0 0 1 12-12h176a12 12 0 0 1 12 12m-8 0a4 4 0 0 0-4-4H40a4 4 0 0 0-4 4v160a4 4 0 0 0 6.56 3.08L77.38 197a4 4 0 0 1 2.62-1h136a4 4 0 0 0 4-4Z"/></svg>
                                </div>
                                <div class="contact-line--detail">
                                    <div class="contact-label">Email</div>
                                    <div class="contact-info">kevindwaite@gmail.com</div>
                                </div>
                            </div>
                            <div class="contact-line">
                                <div class="icon icon--phone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 256 256"><path fill="currentColor" d="M176 20H80a20 20 0 0 0-20 20v176a20 20 0 0 0 20 20h96a20 20 0 0 0 20-20V40a20 20 0 0 0-20-20m12 196a12 12 0 0 1-12 12H80a12 12 0 0 1-12-12V40a12 12 0 0 1 12-12h96a12 12 0 0 1 12 12ZM136 60a8 8 0 1 1-8-8a8 8 0 0 1 8 8"/></svg>
                                </div>
                                <div class="contact-line--detail">
                                    <div class="contact-label">Phone</div>
                                    <div class="contact-info">+1 (951) 384-1614</div>
                                </div>
                            </div>
                            <div class="contact-line">
                                <div class="icon icon--location">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 256 256"><path fill="currentColor" d="M200 228h-60.28A263.7 263.7 0 0 0 171 197.62c26.81-30.83 41-63.2 41-93.62a84 84 0 0 0-168 0c0 30.42 14.17 62.79 41 93.62A263.7 263.7 0 0 0 116.28 228H56a4 4 0 0 0 0 8h144a4 4 0 0 0 0-8M90.9 192.23C73.15 171.8 52 139.9 52 104a76 76 0 0 1 152 0c0 35.9-21.15 67.8-38.9 88.23A254.6 254.6 0 0 1 128 227a254.6 254.6 0 0 1-37.1-34.77M164 104a36 36 0 1 0-36 36a36 36 0 0 0 36-36m-64 0a28 28 0 1 1 28 28a28 28 0 0 1-28-28"/></svg>
                                </div>
                                <div class="contact-line--detail">
                                    <div class="contact-label">Location</div>
                                    <div class="contact-info">Orange County, California, USA</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-footer" data-atropos-offset="5">
                        <div id="socialLinks" class="social-links">
                            <div class="social-link social-link--linkedin">
                                <a href="https://www.linkedin.com/in/kevin-waite-168a0252/" data-jdenticon="linkedin.com/in/kevin-waite-168a0252" data-accent="secondary" target="_blank">
                                    <svg enable-background="new 0 0 56.693 56.693" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="1.5em" height="1.5em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M30.071,27.101v-0.077c-0.016,0.026-0.033,0.052-0.05,0.077H30.071z"/><path d="M49.265,4.667H7.145c-2.016,0-3.651,1.596-3.651,3.563v42.613c0,1.966,1.635,3.562,3.651,3.562h42.12   c2.019,0,3.654-1.597,3.654-3.562V8.23C52.919,6.262,51.283,4.667,49.265,4.667z M18.475,46.304h-7.465V23.845h7.465V46.304z    M14.743,20.777h-0.05c-2.504,0-4.124-1.725-4.124-3.88c0-2.203,1.67-3.88,4.223-3.88c2.554,0,4.125,1.677,4.175,3.88   C18.967,19.052,17.345,20.777,14.743,20.777z M45.394,46.304h-7.465V34.286c0-3.018-1.08-5.078-3.781-5.078   c-2.062,0-3.29,1.389-3.831,2.731c-0.197,0.479-0.245,1.149-0.245,1.821v12.543h-7.465c0,0,0.098-20.354,0-22.459h7.465v3.179   c0.992-1.53,2.766-3.709,6.729-3.709c4.911,0,8.594,3.211,8.594,10.11V46.304z"/></g></svg>
                                </a>
                            </div>
                            <div class="social-link social-link--github">
                                <a href="https://github.com/bengarrr" data-jdenticon="github.com/bengarrr" data-accent="primary" target="_blank">
                                    <svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.0" width="1.5em" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M16.003,0C7.17,0,0.008,7.162,0.008,15.997  c0,7.067,4.582,13.063,10.94,15.179c0.8,0.146,1.052-0.328,1.052-0.752c0-0.38,0.008-1.442,0-2.777  c-4.449,0.967-5.371-2.107-5.371-2.107c-0.727-1.848-1.775-2.34-1.775-2.34c-1.452-0.992,0.109-0.973,0.109-0.973  c1.605,0.113,2.451,1.649,2.451,1.649c1.427,2.443,3.743,1.737,4.654,1.329c0.146-1.034,0.56-1.739,1.017-2.139  c-3.552-0.404-7.286-1.776-7.286-7.906c0-1.747,0.623-3.174,1.646-4.292C7.28,10.464,6.73,8.837,7.602,6.634  c0,0,1.343-0.43,4.398,1.641c1.276-0.355,2.645-0.532,4.005-0.538c1.359,0.006,2.727,0.183,4.005,0.538  c3.055-2.07,4.396-1.641,4.396-1.641c0.872,2.203,0.323,3.83,0.159,4.234c1.023,1.118,1.644,2.545,1.644,4.292  c0,6.146-3.74,7.498-7.304,7.893C19.479,23.548,20,24.508,20,26c0,2,0,3.902,0,4.428c0,0.428,0.258,0.901,1.07,0.746  C27.422,29.055,32,23.062,32,15.997C32,7.162,24.838,0,16.003,0z" fill-rule="evenodd"/><g/><g/><g/><g/><g/><g/></svg>
                                </a>
                            </div>
                            <div class="social-link social-link--upwork">
                                <a href="https://www.upwork.com/freelancers/~0126c6df20536f116c" data-jdenticon="upwork.com/freelancers/~0126c6df20536f116c" data-accent="tertiary" target="_blank">
                                    <svg style="enable-background:new 0 0 56.7 56.7;" version="1.1" width="1.5em" height="1.5em" viewBox="0 0 56.7 56.7" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M38.8,24.6c-2.8,0-3.7,2.7-3.9,4.3v0.1l-0.4,1.5c1.2,1,2.7,1.7,4.2,1.7c2,0,3.8-1.7,3.9-3.9C42.6,26.3,40.9,24.6,38.8,24.6   z"/><path d="M28.9,3.7C15.2,3.7,4.1,14.8,4.1,28.5c0,13.7,11.1,24.8,24.8,24.8c13.7,0,24.8-11.1,24.8-24.8C53.7,14.8,42.6,3.7,28.9,3.7   z M38.8,36.1c-2,0-3.7-0.6-5.2-1.5l-1.7,8H28l2.4-11c-1-1.4-2-3-2.7-4.5v1.7c0,4.1-3.3,7.4-7.3,7.4c-4,0-7.3-3.3-7.3-7.4v-10h3.8   v10c0,2,1.6,3.6,3.6,3.6c2,0,3.6-1.6,3.6-3.6v-10h3.8c0.8,2.5,2.1,5.5,3.8,8.2c1-3.8,3.8-6.1,7.3-6.1c4.1,0,7.5,3.4,7.5,7.5   C46.3,32.7,42.9,36.1,38.8,36.1z"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .atropos-scale {
        pointer-events: none;
    }

    .atropos-rotate {
        pointer-events: all;
    }
    .profile {
        @apply h-full;
    }

    .profile-picture {
        transition: all 500ms ease-out;
    }

    .profile-card:where(.collapsed *) {
        @apply overflow-hidden;
    }

    .profile-picture:where(.collapsed *) {
        @apply scale-75 translate-x-[calc(-60px+45px)]
    }

    .profile-header {
        transition: all 500ms ease-out;
    }

    .profile-header:where(.collapsed *) {
        @apply flex-row h-full;
    }

    .profile-header--content:where(.collapsed *) {
        @apply flex-shrink-0;
    }

    /* .profile-body:where(.collapsed *) {
        @apply hidden;
    }

    .profile-footer:where(.collapsed *) {
        @apply hidden;
    } */

    .profile-contact {
        @apply flex flex-col justify-between grow-[.5];
    }

    .contact-line {
        @apply font-bold flex flex-row items-center;
    }

    .contact-line .icon {
        @apply mr-3;
    }
    .contact-line .icon>svg {
        @apply text-indigo-500 primary:text-indigo-500 secondary:text-mantis-500 tertiary:text-lavender-500;
    }

    .contact-label {
        @apply uppercase text-zinc-500 text-xs;
    }

    .contact-line:last-child {
        @apply mb-0;
    }

    .social-links {
        @apply flex flex-row items-center justify-center gap-[20px];
    }

    .social-link>a>svg {
        @apply fill-indigo-500 primary:fill-indigo-500 hover:primary:fill-indigo-700 secondary:fill-mantis-500 hover:secondary:fill-mantis-700 tertiary:fill-lavender-500 hover:tertiary:fill-lavender-700 hover:fill-indigo-700;
    }
</style>

<script>
    import Atropos from "atropos";

    const atropos = Atropos({
        el: '.atropos',
		activeOffset: 50,
		shadow: false,
        highlight: false
    })
</script>