<div class="profile">
    <div class="profile-header">
        <div class="profile-picture"></div>
        <div class="profile-name"></div>
        <div class="profile-tag"></div>
    </div>
    <div class="profile-body">
        <div class="hr"></div>
        <div class="profile-contact">
            <div class="contact-line">
                <div class="icon icon--email"></div>
                <div class="contact-line--detail">
                    <div class="contact-label">Email</div>
                    <div class="contact-info">kevindwaite@gmail.com</div>
                </div>
            </div>
            <div class="contact-line">
                <div class="icon icon--phone"></div>
                <div class="contact-line--detail">
                    <div class="contact-label">Phone</div>
                    <div class="contact-info">+1 (951) 384-1614</div>
                </div>
            </div>
            <div class="contact-line">
                <div class="icon icon--location"></div>
                <div class="contact-line--detail">
                    <div class="contact-label">Location</div>
                    <div class="contact-info">Orange County, California, USA</div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-footer">
        <div class="social-links">
            <div class="social-link social-link--linkedin">
                <a href="linkedin"><img /></a>
            </div>
            <div class="social-link social-link--github">
                <a href="github"><img /></a>
            </div>
            <div class="social-link social-link--upwork">
                <a href="upwork"><img /></a>
            </div>
        </div>
    </div>
</div>