---
interface Props {
    id: string;
    title: string;
}

const { id, title } = Astro.props;
---
<section class="section">
    <div class="section-anchor">
        <a href={"#" + id}>{title}</a>
    </div>
    <div class="section-header">
        <h2 class="section-title"></h2>
    </div>
    <div class="section-body">
        <div class="section-content">
            <slot></slot>
        </div>
        {Astro.slots.has("subsection") && (
            <div class="section-subsection">
                <slot name="subsection"></slot>
            </div>
        )}
    </div>
</section>